body{
    padding: 0;
    display: block;   
}

.hideme{
    display: none;
}

#header{
    height: 70px;
    text-align: center;
}

#leftcolumn{
    width: 200px; 
    float: left;
}

#loginBox, #registerBox{
    padding-bottom: 20px;
}

#leftMenu{
    padding-bottom: 20px;
    float: left;
}

#centerColumn{
    width: 600px;
    float: left;
    padding-left: 150px;
}

#footer{
    clear: both;
}

.menuCaption{
    padding: 3px;
    font-weight: bold;
}

.cartBox{
    padding: 5px 0px 5px 0px;
}